{% extends '/home/front.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card mt-5">
                    <div class="card-body">
                        <h1 class="h3 mb-3 font-weight-normal text-center">Please sign in</h1>
                        <form method="post" class="form-signin">
                            {% if error %}
                                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                            {% endif %}
                            <label for="inputEmail" class="sr-only">Email</label>
                            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control mb-2" placeholder="Email" autocomplete="email" required autofocus>
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control mb-2" placeholder="Password" autocomplete="current-password" required>
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                            <div class="checkbox mb-3">
                                <label>
                                    <input type="checkbox" name="_remember_me"> Remember me
                                </label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block" type="submit">
                                Sign in
                            </button>
                        </form>
                    </div>
                </div>
                <div class="text-center mt-3">
                    <h3 class="mb-0">Don't have an account?</h3>
                    <a href="{{ path('app_register') }}" class="btn btn-link">SIGN UP</a>
                </div>
                <div class="text-center mt-3">
                    <p>Connect with:</p>
                    <a href="{{path('fcb_login')}}" class="btn btn-primary"><i class="fab fa-facebook-f mr-2"></i>Facebook</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}