{% extends 'front/front.html.twig' %}

{% block title %}Commande{% endblock %}

{% block body %}
    <h1>Commande</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdC</th>
                <td>{{ commande.idC }}</td>
            </tr>
            <tr>
                <th>AdresseLivraison</th>
                <td>{{ commande.adresseLivraison }}</td>
            </tr>
            <tr>
                <th>NumTel</th>
                <td>{{ commande.numTel }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_commande_index') }}">back to list</a>

    <a href="{{ path('app_commande_edit', {'idC': commande.idC}) }}">edit</a>

    {{ include('commande/_delete_form.html.twig') }}
{% endblock %}
